body {
    padding: 0;
    margin: 0;
    font-family: 'Cuprum', Arial, sans-serif;
}
a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/*ВЕРХНЯЯ ЧАСТЬ ШАПКИ*/

.main-header-top {
    background-color: #293449;
}

.main-header-top .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header-logo a{
    background-color: #ee3643;
    text-align: center;
    width: 220px;
    padding: 10px 0 8px;
    -webkit-box-shadow: 0 5px 0 0 #b52933;
            box-shadow: 0 5px 0 0 #b52933;
    font-size: 24px;
    line-height: 24px;
    display: block;
    text-transform: uppercase;
}
.header-logo a:hover {
    background-color: #ca2c37;
    -webkit-box-shadow: 0 5px 0 0 #9a212a;
            box-shadow: 0 5px 0 0 #9a212a;
}
.header-logo a:active {
    background-color: #ba2732;
    -webkit-box-shadow: 0 5px 0 0 #8e1e26;
            box-shadow: 0 5px 0 0 #8e1e26;
}
.form-search {
    position: relative;
}
.form-search button {
    position: absolute;
    background: none;
    border: none;
    top: 11px;
    left: 11px;
    opacity: 0.3;
}
.form-search path {
    fill: #fff;
}
.search {
    background: none;
    border: none;
    height: 42px;
    padding-left:49px;
    width: 270px;
    color: #fff;
}
.search:hover {
    background-color: #212a3a;
}
.form-search:hover button{
    opacity: 1;
}
.search:focus{
    background-color: #fff;
    outline: none;
    color: #000;
}
.search:focus+button{opacity: 1;}
.search:focus+button path{fill: red;}
.search:focus::-webkit-input-placeholder {
    color: #000;
}
.search:focus:-ms-input-placeholder {
    color: #000;
}
.search:focus::-ms-input-placeholder {
    color: #000;
}
.search:focus::placeholder {
    color: #000;
}

.search::-webkit-input-placeholder {
    color: #fff;
    font-size: 17px;
    line-height: 18px;
}

.search:-ms-input-placeholder {
    color: #fff;
    font-size: 17px;
    line-height: 18px;
}

.search::-ms-input-placeholder {
    color: #fff;
    font-size: 17px;
    line-height: 18px;
}

.search::placeholder {
    color: #fff;
    font-size: 17px;
    line-height: 18px;
}
.user-navigation {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
    width: 100%;
    display: flex;
}
.user-navigation li {
    display:inline-block;
    vertical-align: middle;
    flex-grow: 1;
}
.user-navigation a {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-size: 17px;
    line-height: 18px;
    padding: 12px 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.user-navigation a:hover{
    background-color: #212a3a;
}
.user-navigation a:hover::before{
    opacity: 1;   
}
.user-navigation .order:hover {
    background-color: #5fbb2d;
}
.user-navigation a:active {
    background-color: #161d29;
    color: rgba(255,255,255, 0.6);
}
.user-navigation a:active::before {
    opacity: 0.3;
}
.user-navigation .order:active {
    background-color: #518534;
    color: rgba(255,255,255, 0.6);
}

.basket.not-empty {
    background-color: #ee3643;
}
.user-navigation .order {
    background-color: #63a63e;
}
.user-navigation .tabs {
    padding-left: 16px;
    position: relative;
}
.user-navigation .tabs::before {
    content: "";
    position: absolute;
    background: url(../img/svg/icon-bookmark.svg) no-repeat;
    width: 14px;
    height: 16px;
    top: 12px;
    left: 17px;
    opacity: 0.3;
}
.user-navigation .basket {
    padding-left: 18px;
    position: relative;
}
.user-navigation .basket::before {
    content: "";
    position: absolute;
    background: url(../img/svg/cart-icon.svg) no-repeat;
    width: 15px;
    height: 15px;
    top: 12px;
    left: 18px;
    opacity: 0.3;
}



/*НИЖНЯЯ ЧАСТЬ ШАПКИ*/

.main-header-bottom {
    background-color: #f2f6f8;
    padding-top:46px;
    padding-bottom: 60px;
}

.main-header-bottom .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.main-header-wrapper {
    width: 100%;
    margin-bottom: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.main-header-bottom h1 {
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;
    margin: 0;
    padding-left: 52px;
    padding-top: 3px;
    width: 224px;
    font-weight: 100;
}
.header-data {
    width: 270px;
    text-align: center;
    margin: 0;
    margin-left: 44px;
    margin-right: auto;
}
.header-data .phone {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: 3px solid #fff;
    padding: 9px 0;
    padding-left: 20px;
    position: relative;
}
.header-data .phone::before {
    content: "";
    position: absolute;
    background: url(../img/svg/icon-phone.svg) no-repeat;
    width: 19px;
    height: 19px;
    left: 12px;
}
.header-data .address {
    font-size: 14px;
    line-height: 24px;
    color:#32425c;
    margin:0;
    padding: 4px;
}

.header-user-panel ul {
    list-style: none;
    padding: 5px;
    padding-left: 18px;
    margin: 0;
}
.header-user-panel li {
    display:inline-block;
    vertical-align: middle;
}
.header-user-panel > a {
    color: #000;
    background-color: #fff;
    padding: 12px 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 21px;
    line-height: 21px;
}

.header-user-panel ul a { /*Три селектора*/
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
}
.header-user-panel ul a:hover { /*Три селектора*/
    color: #ee3643;
}
.header-user-panel .login {
    padding-left: 47px;
    padding-right: 26px;
    position: relative;
}
.login svg{
    position: absolute;
    left: 14px;
    top: 14px;
}
.login path,
.login polygon {
    fill: #c5c5c5;
}
.header-user-panel .register {
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 6px;
}
.login:hover,
.register:hover {
    color: #ee3643;
}
.header-user-panel .user-name {
    padding-left: 47px;
    padding-right: 67px;
}

.site-navigation {
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    width: 100%;
}
.site-navigation ul {
    padding: 0 20px;
    margin: 0;
    list-style: none;
    text-align: center;
    font-size: 0;
}
.site-navigation li {
    display: inline-block;
    vertical-align: middle;
}
.site-navigation a {
    color: #fff;
    font-size: 17px;
    line-height: 17px;
    padding: 19px 30px;
    display: block;
}
.site-navigation li:hover {
    background-color: #293449;
}



/* КАТЕГОРИИ */

.category {
    margin-top: 59px;
    margin-bottom: 53px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 33px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.category h3 {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    margin: 0;
    padding-top: 21px;
    padding-left: 22px;
    font-weight: bold;
}
.category .btn-style-opacity {
    margin-left: 23px;
    margin-top: 12px;
}
.category-item:not(.slider) {
    width: 300px;
    height: 123px;
    margin-bottom: 20px;
}
.category-item.materials {
    background-color: #ffbf47;
    background-image: url(../img/svg/icon-1.svg);
    background-repeat: no-repeat;
    background-position: 213px 31px;
}
.category-item.tools {
    background-color: #3bbce3;
    background-image: url(../img/svg/icon-2.svg);
    background-repeat: no-repeat;
    background-position: 197px 33px;
}
.category-item.equipment {
    background-color: #dc91d8;
    background-image: url(../img/svg/icon-3.svg);
    background-repeat: no-repeat;
    background-position: 191px 31px;
}
.category-item.slider {
    background-color: #959597;
    width: 620px;
    height: 266px;
    position: relative;
}
.category-item.slider h3 {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    padding-left: 24px;
    padding-top: 23px;
    text-transform: uppercase;
}
.category-item.slider p {
    font-family: "Ptsans", Arial, sans-serif;
    font-size: 18px;
    padding-left: 25px;
    margin: 0;
    margin-top: 1px;
    line-height: 24px;
    color: #fff;
}
.slide {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: none;
    width: 100%;
    height: 100%;
}
.slide.slide-active {
    display: block;
}
.slide:nth-child(1) {
    background-image:url(../img/category-slide1.jpg);
}
.slide:nth-child(2) {
    background-image:url(../img/category-slide2.jpg);
}
.slide .btn-style-red {
    width: 195px;
    margin-top: 122px;
    margin-left: 25px;
}
.category-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.category-item.sale {
    background-color: #8ed78f;
    background-image: url(../img/svg/icon-4.svg);
    background-repeat: no-repeat;
    background-position: 196px 26px;
}
.category-item.delivery {
    background-color: #ffc047;
    background-image: url(../img/svg/icon-5.svg);
    background-repeat: no-repeat;
    background-position: 191px 32px;
}
.slider-buttons button {
    position: absolute;
    z-index: 2;
}
.slider-buttons .slider-arrow-left {
    top: 114px;
    left: 25px;
    border: none;
    background-color: transparent;
    background-image: url(../img/svg/icon-left.svg);
    width: 22px;
    height: 40px;
    cursor: pointer;
}
.slider-buttons .slider-arrow-right {
    top: 114px;
    right: 25px;
    border: none;
    background-color: transparent;
    background-image: url(../img/svg/icon-right.svg);
    width: 22px;
    height: 40px;
    cursor: pointer;
}
.slider-buttons ul {
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
    list-style: none;
    bottom: 36px;
    text-align: center;
    left: 290px;
    font-size: 0;
}
.slider-buttons li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}
.slider-button {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
    cursor: pointer;
}
.slider-button.active {
    background-color:#ee3643;
}



/*ПОПУЛЯРНЫЕ ТОВАРЫ*/

.populars {
    margin-bottom: 20px;
}
.populars-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #f9f5f0;
    padding: 0 24px 0 28px;
    //margin-bottom: 20px;
    height: 89px;
}
.populars-header h2 {
    text-transform: uppercase;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: 100;
    margin: 0;
}
.populars-header .btn-style-red {
    width: 253px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.populars-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}
.products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.products-item {
    font-family: "Ptsans", Arial, sans-serif;
    width: 218px;
    border: 1px solid #eaeaea;
    text-align: center;
    position: relative;
    font-weight: bold;
    padding-bottom: 20px;
    margin-top: 20px;
}
.products-list .products-item {
    margin-right: 20px;
}
.products-list .products-item:nth-child(3n) {
    margin-right: 0;
}
.products-item img {
    width: 210px;
    height: auto;
}
.products-item:hover {
    -webkit-box-shadow: 0 10px 25px 0 rgba(41,52,73, 0.5);
            box-shadow: 0 10px 25px 0 rgba(41,52,73, 0.5);
}
.products-item:hover img {
    opacity: 0;
}
.products-item:hover .actions{
    display: block;
}
.products-item .actions {
    display: none;
    position: absolute;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    top:43px;
    width: 100%;
}
.products-item .btn-buy {
    background-color: #63a63e;
    color: #fff;
    display: block;
    border-radius: 3px;
    width: 135px;
    margin: 0 auto;
    padding: 12px 0;
    border-bottom: 3px solid #367315;
}
.products-item .btn-buy:hover {
    background-color: #5fbb2d;
}
.products-item .btn-buy:active {
    background-color: #518534;
}
.products-item .btn-tab {
    background-color: #fff;
    color: #32425c;
    display: block;
    border: 3px solid #63a63e;
    border-radius: 3px;
    width: 130px;
    margin: 8px auto 0;
    padding: 12px 0;
}
.products-item .btn-tab:hover {
    border-color: #32425c;
}
.products-item .btn-tab:active {
    border-color: #c1c6ce;
    color: rgba(50, 66, 92, 0.3);
}
.products-item .title {
    font-size: 18px;
    line-height: 20px;
    padding: 0 20px;
    margin: 0;
}
.products-item .old-price {
    color: #a9a9a9;
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
    margin: 11px 0;
}
.products-item .price {
    display: block;
    color: #fff;
    font-size: 17px;
    line-height: 18px;
    background-color: #ee3643;
    width: 141px;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    border-radius: 3px;
    position: relative;
}
.title + .price { 
    margin-top: 40px;
} 
.products-item .price::before {
    content: "";
    width: 32px;
    height: 17px;
    top: -5px;
    left: 86%;
    background-color: white;
    position: absolute;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.products-item .price::after {
    content: "";
    width: 32px;
    height: 17px;
    bottom: -5px;
    left: 86%;
    background-color: white;
    position: absolute;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}




/*ПОПУЛЯРНЫЕ БРЕНДЫ*/

.brands {
    margin-bottom: 85px;
}
.brands ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.brands li {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #eaeaea;
    margin-top: 20px;
}
.brands li:hover {
    -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
            box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.brands li:active {
    -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
            box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}
.brands li:active img {
    opacity: 0.3;
}
.brands-content a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 218px;
    height: 143px;
}
.brands-content img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}




/*СЕРВИСЫ*/

.service {
    background-color: #f4f8f9;
}
.service h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    padding-top: 66px;
    font-weight: 100;
}
.service p {
    font-family: "Ptsans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000;
    width: 400px;
    margin: 26px 0;
}
.service-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.service-slider ul {
    list-style: none;
    padding: 0;
    padding-top: 42px;
    margin: 0;
    position: relative;
}
.service-slider ul::after {
    background-image: url(../img/service-shadow.png);
    background-repeat: no-repeat;
    content: "";
    width: 10px;
    height: 279px;
    top: 0;
    right: 0;
    z-index: 1;
    position: absolute;
}
.service-slider button {
    background-color: #32425c;
    border-left: none;
    border-right: none;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    font-size: 21px;
    line-height: 30px;
    color: #fff;
    width: 240px;
    text-align: left;
    padding: 13px 0 16px 22px;
    font-weight: bold;
}
.service-slider button:not(.active):hover {
    background-color: #293449;   
}
.service-slider button.active {
    background-color: #fff;
    border-top: 1px solid #fff;
    color: #32425c;
}
.service-slider button:hover {
    cursor: pointer;
}
.service-slider-container {
    width: 620px;
    min-height: 326px;
}
.service-slide {
    width: 100%;
    height: 100%;
    display: none;
    background-repeat: no-repeat;
    background-position: 151px 26px;
}
.service-slide.active {
    display: block;
} 
.service-slide h3 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    margin: 39px 0 20px;
    font-weight: 100;
}
.service-slide p {
    width: 275px;
}
.service-slide.delivery {
    background-image: url(../img/service/service-delivery.png);
}
.service-slide.guarantee {
    background-image: url(../img/service/service-guarantee.png);
}
.service-slide.credit {
    background-image: url(../img/service/service-credit.png);
}



/*ИНФОРМАЦИЯ*/

.info .container {
    padding-top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 86px;
}
.info h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: 100;
}
.info p {
    font-family: "Ptsans", Arial, sans-serif;
    margin: 0;
    margin-top: 24px;
    font-size: 13px;
    line-height: 24px;
}
.info .about-us {
    width: 540px;
}
.info .about-us ul { /*Три селектора*/
    list-style: none;
    padding: 0;
    padding-left: 37px;
    margin: 0;
    margin-bottom: 37px;
    margin-top: 20px;
}
.info .about-us li { /*Три селектора*/
    position: relative;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
}
.info .about-us li::after { /*Три селектора*/
    content: "";
    left: -37px;
    top:50%;
    position: absolute;
    width: 25px;
    height: 2px;
    background-image: url(../img/companies-list.png);
}
.about-us .btn-style-red {
    width: 220px;
}
.info .contacts {
    width: 300px;
}
.info .contacts p { /*Три селектора*/
    width: 200px;
    margin-bottom: 31px;
}
.contacts .map {
    margin-bottom: 36px;
    display: block;
}
.contacts .btn-style-red {
    width: 300px;
}




/*ВНУТРЕННАЯ СТРАНИЦА*/

.breadcrumbs-list {
    padding: 0;
    margin: 0;
    margin: 21px 0 20px;
    font-size: 0;
}
.breadcrumbs-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
    position: relative;
}
.breadcrumbs-item a {
    text-transform: uppercase;
    font-family: "Ptsans", Arial, sans-serif;
    color: #000;
    font-size: 13px;
    line-height: 18px;
}

.breadcrumbs-item:first-child a::after {
    content: "";
    display: inline-block;
    background: url(../img/svg/icon-home.svg) no-repeat;
    width: 15px;
    height: 12px;
    top: -7px;
    left: -17px;
}
.breadcrumbs-item:not(:last-child)::after {
    content: "";
    position: absolute;
    background: url(../img/svg/breadcrumbs-arrows.svg);
    width: 8px;
    height: 12px;
    right: -23px;
    top: 2px;
}
.inner-page h2 {
    text-transform: uppercase;
    color: #32425c;
    font-weight: 100;
    font-size: 30px;
    line-height: 30px;
    background-color: #f2f6f8;
    padding: 30px 28px 29px;
    margin: 20px 0;
}
.inner-page .global-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.filter-wrapper {
    width: 220px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "Ptsans", Arial, sans-serif;
}
.filter-header {
    background-color: #f7f3ec;
    color: #000;
    padding: 11px 18px 7px;
    font-size: 13px;
    line-height: 18px;
    border-radius: 3px;
}
.filter fieldset{
    border: none;
    padding: 0;
    padding-bottom: 25px;
    margin: 0;
    font-size: 17px;
    line-height: 18px;
    border-radius: 3px;
}
.filter fieldset:not(.filter-power) {
    border-bottom: 1px solid #e5e5e5;
}
.filter ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filter-price {
    padding: 0;
    margin: 0;
}
.filter legend{
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    padding: 15px 0;
}
.filter-price input{
    width: 95px;
    height: 38px;
    border: none;
    text-align: center;
    background-color: #f7f3ec;
}
.filter-price input[name = "max-price"]{
    margin-left: 10px;
}
.filter-price input[name = "min-price"]{
    margin-right: 10px;
}
.filter-brands li {
    position: relative;
    padding-left: 31px;
    padding-bottom: 22px;
}
.filter-brands li:last-child {
    padding-bottom: 0px;
}
.filter-brands input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.filter-brands label {
    letter-spacing: -1px
}
.filter-brands label::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    left: 0;
    top: -2px;
    background:url(../img/svg/checkbox-off.svg) no-repeat;
    background-position: center;
}
.filter-brands input:checked + label::before {
    width: 27px;
    height: 23px;
    background:url(../img/svg/checkbox-on.svg) no-repeat;
    background-position: center;
}

.filter-power li {
    position: relative;
    padding-left: 31px;
    padding-bottom: 22px;
}
.filter-power li:last-child {
    padding-bottom: 0px;
}
.filter-power input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.filter-power label {
    letter-spacing: -1px
}
.filter-power label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: -2px;
    background:url(../img/svg/radio-off.svg) no-repeat;
    background-position: center;
}
.filter-power input:checked + label::before {
    width: 25px;
    height: 25px;
    background:url(../img/svg/radio-on.svg) no-repeat;
    background-position: center;
}

.inner-page .products {
    width: 700px;
}
.products-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f7f3ec;
    text-transform: uppercase;
    padding: 11px 18px 3px;
    font-size: 13px;
    line-height: 18px;
}
.products-header p {
    margin: 0;
}
.products-sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    font-size: 0;
}
.products-sorting a {
    font-size: 13px;
    line-height: 18px;
    color: #000;
}
.paginator {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.paginator li {
    text-align: center;
}
.paginator a {
    margin: 10px 10px 0 0;
    padding: 5px 10px;
    display: block;
    border: 1px solid #e5e5e5;
    color: #000;
    background-color: #fff;
}
.paginator .active {
    color: #fff;
    background-color: #ee3643;
}



/*ПОДВАЛ*/

footer {
    background-color: #32425c;
    color: #fff;
}
.footer-top .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-top {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 19px;
}
.footer-logo {
    background-color: #ee3643;
    text-align: center;
    width: 220px;
    padding: 17px 0;
    -webkit-box-shadow: 0 5px 0 0 #b52933;
            box-shadow: 0 5px 0 0 #b52933;
    font-size: 30px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}
.footer-logo:hover {
    background-color: #ca2c37;
    -webkit-box-shadow: 0 5px 0 0 #9a212a;
            box-shadow: 0 5px 0 0 #9a212a;
}
.footer-logo:active {
    background-color: #ba2732;
    -webkit-box-shadow: 0 5px 0 0 #8e1e26;
            box-shadow: 0 5px 0 0 #8e1e26;
}
.footer-top-left p {
    width: 330px;
    margin: 31px 3px;
}


.footer-top-right {
    margin-top: 38px;
    list-style: none;
    font-size: 0;
}
.footer-top-right li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    padding-right: 59px;
}
.footer-top-right li:last-child {
    padding: 0;
}
.footer-top-right a {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}
.footer-top-right a:hover {
    text-decoration: underline;
}
.footer-top-right a:active {
    text-decoration: none;
    opacity: 0.5;
}
.footer-navigation {
    padding: 0;
    margin: 0;
    text-align: right;
}
.footer-navigation a {
    color: #fff;
}
.footer-categories {
    padding: 0;
    padding-top: 29px;
    margin: 0;
    text-align: right;
}
.footer-categories a {
    color: #ffd180;
}
.footer-bottom {
    background-color: #293449;
    font-size: 16px;
    line-height: 18px;
    padding: 35px 0 52px;
}
.footer-bottom .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer-bottom p {
    margin: 0;
}
.footer-bottom .copyright {
    width: 230px;
}
.footer-bottom .feedback {
    margin: 0px auto 0 162px;
    display: inherit;
}
.footer-bottom .social-btn {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 2px;
    background-color: #212a3a;
    background-position: 50%;
    background-repeat: no-repeat;
}
.footer-bottom .social-btn:hover {
    background-color: #ee3643;
}
.footer-bottom .btn-vk {
    background-image: url(../img/svg/vk-icon.svg);
    background-size: 70%;
}
.footer-bottom .btn-fb {
    background-image: url(../img/svg/fb-icon.svg);
    background-size: 32%;
}
.footer-bottom .btn-inst {
    background-image: url(../img/svg/insta-icon.svg);
    background-size: 53%;
}
.footer-bottom .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 300px;
}
.footer-bottom .email {
    width: 140px;
}
.footer-bottom .site {
    width: 111px;
}
.footer-bottom .links a { /*Три селектора*/
    color: #ffd180;
}
.footer-bottom .links a:hover { /*Три селектора*/
    text-decoration: underline;
}
.footer-bottom .links a:active { /*Три селектора*/
    text-decoration: none;
    color: #ee3643;
}


/*МОДАЛЬНЫЕ ОКНА*/
.modal {
    position: fixed;
    background-color: #fff;
    z-index: 20;
}

.btn-modal-close {
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url(../img/svg/modal-close.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
    top: 9px;
    right: 9px;
    border:none;
    background-color: transparent;
    cursor: pointer;
}
    
    /* корзина */
.modal-cart {
    display: none;
    top: 70px;
    left: 50%;
    margin-left: -310px;
    width: 620px;
    background-color: #fff;
    border-top: 7px solid #ee3643;
}
.modal-cart p {
    font-size: 30px;
    line-height: 30px;
}
.modal-btns {
    display: flex;
    justify-content: space-between;
}
.modal-btns .checkout,
.modal-btns .continue {
    width: 220px;
}
    
    /* карта */
.modal-map {
    display: none;
    top: 50%;
    left: 50%;
    margin-top: -223px;
    margin-left: -470px;
    width: 940px;
    min-height: 446px;
    background-color: #fff;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.5);
}
.modal-map p {
    text-transform: uppercase;
    display: block;
    padding: 184px 0;
    font-size: 25px;
    color: #bbb;
    text-shadow: 1px 1px 1px #545454;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    /* обратная связь */
.modal-write-us {
    display: none;
    top: 20%;
    left: 50%;
    width: 620px;
    margin-left: -310px;
    border-top: 7px solid #ee3643;
    box-sizing: border-box;
    padding-top: 46px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.75);
}
.modal-write-us label {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}
.modal-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 460px;
    margin: 0 auto;
}
.modal-show {
  display: block;
}
.form-write-us p {
    margin: 0;
    margin-bottom: 20px;
}
.form-write-us p:last-child {
    margin-bottom: 0;
}
.form-write-us input,
.form-write-us textarea{
    border: 2px solid #ddd;
    border-radius: 3px;
    padding: 10px 15px;
}
.form-write-us b {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px; 
}
.write-us-name,
.write-us-email {
    width: 220px;
    box-sizing: border-box;
}
.write-us-text {
    width: 460px;
    height: 114px;
    box-sizing: border-box;
}
.modal-btns {
    background-color: #eee;
    padding: 37px 0;
    text-align: center;
}
.modal-btns .btn-send-message {
    width: 460px;
    margin: 0 auto;
}

/*КНОПКИ*/
.btn-style-white {
    color: #000;
    text-align: center;
    background-color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 3px;
    border:none;
    padding: 10px 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.btn-style-opacity {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: rgba(0,0,0, 0.1);
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
    width: 135px;
    text-align: center;
}
.btn-style-opacity:hover {
    background-color: rgba(0,0,0, 0.2);
}
.btn-style-opacity:active {
    background-color: rgba(0,0,0, 0.3);
}

.btn-style-red {
    color: #fff;
    text-align: center;
    background-color: #ee3643;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 3px;
    border:none;
    padding: 10px 0;
    display: inline-block;
    vertical-align: middle;
}
.btn-style-red:hover {
    background-color: #ca2c37;
}
.btn-style-red:active {
    background-color: #ba2732;
}


/*ШРИФТЫ*/

@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/cuprum.woff') format('woff'),
         url('../fonts/cuprum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/cuprumbold.woff') format('woff'),
         url('../fonts/cuprumbold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/cuprumbolditalic.woff') format('woff'),
         url('../fonts/cuprumbolditalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/cuprumitalic.woff') format('woff'),
         url('../fonts/cuprumitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Ptsans';
    src: url('../fonts/ptsans.woff') format('woff'),
         url('../fonts/ptsans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ptsans';
    src: url('../fonts/ptsansbold.woff') format('woff'),
         url('../fonts/ptsansbold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}