body {
    padding: 0;
    margin: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    min-width: 960px;
}
a {
    color: #fff;
    text-decoration: none;
}
img {
    max-width: 100%;
}


.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/*ВЕРХНЯЯ ЧАСТЬ ШАПКИ*/

.main-header-top {
    background-color: #293449;
}

.main-header-top .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header-logo a{
    background-color: #ee3643;
    text-align: center;
    width: 220px;
    padding: 10px 0 8px;
    -webkit-box-shadow: 0 5px 0 0 #b52933;
            box-shadow: 0 5px 0 0 #b52933;
    font-size: 24px;
    line-height: 24px;
    display: block;
    text-transform: uppercase;
}
.header-logo a:hover,
.header-logo a:focus {
    background-color: #ca2c37;
    -webkit-box-shadow: 0 5px 0 0 #9a212a;
            box-shadow: 0 5px 0 0 #9a212a;
}
.header-logo a:active {
    background-color: #ba2732;
    -webkit-box-shadow: 0 5px 0 0 #8e1e26;
            box-shadow: 0 5px 0 0 #8e1e26;
}
.form-search {
    position: relative;
}
.form-search button {
    position: absolute;
    background: none;
    border: none;
    top: 11px;
    left: 11px;
    opacity: 0.3;
}
.form-search path {
    fill: #fff;
}
.search {
    background: none;
    border: none;
    height: 42px;
    padding-left:49px;
    width: 270px;
    color: #fff;
}
.search:hover,
.search:focus {
    background-color: #212a3a;
}
.form-search:hover button
.form-search:focus button{
    opacity: 1;
}
.search:focus{
    background-color: #fff;
    outline: none;
    color: #000;
}
.search:focus+button{opacity: 1;}
.search:focus+button path{fill: red;}
.search:focus::-webkit-input-placeholder {
    color: #000;
}
.search:focus:-ms-input-placeholder {
    color: #000;
}
.search:focus::-ms-input-placeholder {
    color: #000;
}
.search:focus::placeholder {
    color: #000;
}

.search::-webkit-input-placeholder {
    color: #fff;
    font-size: 17px;
    line-height: 18px;
}

.search:-ms-input-placeholder {
    color: #fff;
    font-size: 17px;
    line-height: 18px;
}

.search::-ms-input-placeholder {
    color: #fff;
    font-size: 17px;
    line-height: 18px;
}

.search::placeholder {
    color: #fff;
    font-size: 17px;
    line-height: 18px;
}
.user-navigation {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
    /* width: 100%; */
    display: flex;
}
.user-navigation li {
    display:inline-block;
    vertical-align: middle;
    width: 150px;
}
.user-navigation a {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-size: 17px;
    line-height: 18px;
    padding: 12px 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.user-navigation a:hover,
.user-navigation a:focus{
    background-color: #212a3a;
}
.user-navigation a:hover::before,
.user-navigation a:focus::before{
    opacity: 1;   
}
.user-navigation .order:hover,
.user-navigation .order:focus {
    background-color: #5fbb2d;
}
.user-navigation a:active {
    background-color: #161d29;
    color: rgba(255,255,255, 0.6);
}
.user-navigation a:active::before {
    opacity: 0.3;
}
.user-navigation .order:active {
    background-color: #518534;
    color: rgba(255,255,255, 0.6);
}

.basket.not-empty {
    background-color: #ee3643;
}
.user-navigation .order {
    background-color: #63a63e;
    text-align: center;
}
.user-navigation .tabs {
    padding-left: 45px;
    position: relative;
}
.user-navigation .tabs::before {
    content: "";
    position: absolute;
    background: url(../img/svg/icon-bookmark.svg) no-repeat;
    width: 14px;
    height: 16px;
    top: 12px;
    left: 17px;
    opacity: 0.3;
}
.user-navigation .basket {
    padding-left: 49px;
    position: relative;
}
.user-navigation .basket::before {
    content: "";
    position: absolute;
    background: url(../img/svg/cart-icon.svg) no-repeat;
    width: 15px;
    height: 15px;
    top: 12px;
    left: 18px;
    opacity: 0.3;
}



/*НИЖНЯЯ ЧАСТЬ ШАПКИ*/

.main-header-bottom {
    background-color: #f2f6f8;
    padding-top:46px;
    padding-bottom: 60px;
}

.main-header-bottom .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.main-header-wrapper {
    width: 100%;
    margin-bottom: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.main-header-bottom h1 {
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;
    margin: 0;
    padding-left: 52px;
    padding-top: 3px;
    width: 224px;
    font-weight: 100;
}
.header-data {
    width: 270px;
    text-align: center;
    margin: 0;
    margin-left: 44px;
    margin-right: auto;
}
.header-data .phone {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: 3px solid #fff;
    padding: 9px 0;
    padding-left: 20px;
    position: relative;
}
.header-data .phone::before {
    content: "";
    position: absolute;
    background: url(../img/svg/icon-phone.svg) no-repeat;
    width: 19px;
    height: 19px;
    left: 12px;
}
.header-data .address {
    font-size: 14px;
    line-height: 24px;
    color:#32425c;
    margin:0;
    padding: 4px;
}
.header-user-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.user-panel-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header-user-panel ul {
    list-style: none;
    padding: 5px;
    padding-left: 17px;
    margin: 0;
}
.header-user-panel li {
    display:inline-block;
    vertical-align: middle;
}
.user-panel-row a {
    color: #000;
    background-color: #fff;
    padding: 12px 10px;
    font-size: 21px;
    line-height: 21px;
    min-width: 20px;
}
.user-panel-list li {
    margin-right: 28px;
    position: relative;
}
.user-panel-list li:first-child::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 89px;
    width: 4px;
    height: 4px;
    background-color: #32425c;
    border-radius: 50%;
} 
.user-panel-list a {
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
}
.user-panel-list a:hover,
.user-panel-list a:focus {
    color: #ee3643;
}
.user-panel-list a:active {
    color: #bec5ce;
}
.login:hover svg,
.user-name:hover svg,
.logout:hover svg,
.login:focus svg,
.user-name:focus svg,
.logout:focus svg {
    fill: #32425c;
}
.login:active svg,
.user-name:active svg,
.logout:active svg {
    fill: #c5c5c5;
}
.header-user-panel .login {
    padding-left: 47px;
    padding-right: 29px;
    position: relative;
}
.login svg {
    position: absolute;
    left: 14px;
    top: 14px;
}

.header-user-panel .register {
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 6px;
}
.login:hover,
.register:hover,
.login:focus,
.register:focus {
    color: #ee3643;
}
.login:active,
.register:active {
    color: #c5c5c5;
}
.header-user-panel .user-name {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 258px;
    padding-left: 12px;
}
.user-name svg {
    padding-right: 8px;
}
.logout {
    position: relative;
}
.logout svg {
    position: absolute;
    left: 9px;
    top: 14px;
}
.user-name svg,
.logout svg {
    fill: #c5c5c5;
}
.user-name:hover svg,
.logout:hover svg,
.user-name:focus svg,
.logout:focus svg {
    fill: #32425c;
}
.user-name:active svg,
.logout:active svg {
    fill: #c5c5c5;
}

.site-navigation {
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    width: 100%;
}
.site-navigation ul {
    padding: 0 20px;
    margin: 0;
    list-style: none;
    text-align: center;
    font-size: 0;
}
.site-navigation li {
    display: inline-block;
    vertical-align: middle;
}
.site-navigation a {
    color: #fff;
    font-size: 17px;
    line-height: 17px;
    padding: 20px 30px 18px;
    display: block;
}
.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #293449;
}



/* КАТЕГОРИИ */

.category {
    margin-top: 59px;
    margin-bottom: 53px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 33px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.category h3 {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    margin: 0;
    padding-top: 21px;
    padding-left: 22px;
    font-weight: bold;
}
.category .btn-style-opacity {
    margin-left: 23px;
    margin-top: 12px;
}
.category-item:not(.slider) {
    width: 300px;
    height: 123px;
    margin-bottom: 20px;
}
.category-item.materials {
    background-color: #ffbf47;
    background-image: url(../img/svg/icon-1.svg);
    background-repeat: no-repeat;
    background-position: 213px 31px;
}
.category-item.tools {
    background-color: #3bbce3;
    background-image: url(../img/svg/icon-2.svg);
    background-repeat: no-repeat;
    background-position: 197px 33px;
}
.category-item.equipment {
    background-color: #dc91d8;
    background-image: url(../img/svg/icon-3.svg);
    background-repeat: no-repeat;
    background-position: 191px 31px;
}
.slider-list {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
}
.category-item.slider {
    background-color: #959597;
    width: 620px;
    height: 266px;
    position: relative;
}
.category-item.slider h3 {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    padding-left: 24px;
    padding-top: 23px;
    text-transform: uppercase;
}
.category-item.slider p {
    font-family: "Ptsans", "Arial", sans-serif;
    font-size: 18px;
    padding-left: 25px;
    margin: 0;
    margin-top: 1px;
    line-height: 24px;
    color: #fff;
}
.slide {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}
.slide:nth-child(1) {
    background-image:url(../img/category-slide1.jpg);
    display: block;
}
.slide:nth-child(2) {
    background-image:url(../img/category-slide2.jpg);
}
.slide .btn-style-red {
    width: 195px;
    margin-top: 122px;
    margin-left: 25px;
}
.category-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.category-item.sale {
    background-color: #8ed78f;
    background-image: url(../img/svg/icon-4.svg);
    background-repeat: no-repeat;
    background-position: 196px 26px;
}
.category-item.delivery {
    background-color: #ffc047;
    background-image: url(../img/svg/icon-5.svg);
    background-repeat: no-repeat;
    background-position: 191px 32px;
}
.slider-buttons button {
    position: absolute;
    z-index: 2;
}
.slider-arrow-left,
.slider-arrow-right {
    font-size: 0;
    width: 22px;
    height: 40px;
    top: 114px;
    position: absolute;
}
.slider-arrow-left {
    left: 25px;
    border: none;
    background-color: transparent;
    background-image: url(../img/svg/icon-left.svg);
    cursor: pointer;
}
.slider-arrow-right {
    right: 25px;
    border: none;
    background-color: transparent;
    background-image: url(../img/svg/icon-right.svg);
    cursor: pointer;
}
.slider-buttons {
    position: absolute;
    left: 50%;
    bottom: 28px;
    z-index: 100;

    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.slider-buttons label {
    position: relative;
  
    display: inline-block;
    width: 6px;
    height: 6px;
    
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;

    background-color: #fff;
    border:2px solid #fff;
}
#slide-1:checked ~ .slider-list .slide:nth-child(1) {
  display: block;
}
#slide-1:checked ~ .slider-buttons label:nth-child(1) {
    background-color: red;
}

#slide-2:checked ~ .slider-list .slide:nth-child(2) {
  display: block;
}
#slide-2:checked ~ .slider-buttons label:nth-child(2) {
    background-color: red;
}

/*ПОПУЛЯРНЫЕ ТОВАРЫ*/

.populars {
    margin-bottom: 20px;
}
.populars-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #f9f5f0;
    padding: 0 24px 0 28px;
    height: 89px;
}
.populars-header h2 {
    text-transform: uppercase;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: 100;
    margin: 0;
}
.populars-header .btn-style-red {
    width: 253px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.populars-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.populars-list .products-item {
    margin-right: 20px;
}
.populars-list .products-item:nth-child(4n) {
    margin-right: 0;
}
.products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.products-item {
    font-family: "Ptsans", "Arial", sans-serif;
    width: 218px;
    border: 1px solid #eaeaea;
    text-align: center;
    position: relative;
    font-weight: bold;
    padding-bottom: 20px;
    margin-top: 20px;
}
.products-item .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.products-item .flag-new{
    background:url("../img/new-flag.png") no-repeat 0 0;
}

.products-list .products-item {
    margin-right: 20px;
}
.products-list .products-item:nth-child(3n) {
    margin-right: 0;
}
.products-item img {
    width: 100%;
    height: 165px;
    margin-bottom: 10px;
}
.products-item:hover,
.products-item:focus {
    -webkit-box-shadow: 0 10px 25px 0 rgba(41,52,73, 0.5);
            box-shadow: 0 10px 25px 0 rgba(41,52,73, 0.5);
}
.products-item:hover img,
.products-item:focus img {
    opacity: 0;
}
.products-item:hover .actions,
.products-item:focus .actions{
    display: block;
}
.products-item .actions {
    font-family: "Cuprum", "Arial", sans-serif;
    display: none;
    position: absolute;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    top:43px;
    width: 100%;
}
.products-item .btn-buy {
    background-color: #63a63e;
    color: #fff;
    display: block;
    border-radius: 3px;
    width: 135px;
    margin: 0 auto;
    padding: 12px 0;
    border-bottom: 3px solid #367315;
}
.products-item .btn-buy:hover,
.products-item .btn-buy:focus {
    background-color: #5fbb2d;
}
.products-item .btn-buy:active {
    background-color: #518534;
}
.products-item .btn-tab {
    background-color: #fff;
    color: #32425c;
    display: block;
    border: 3px solid #63a63e;
    border-radius: 3px;
    width: 130px;
    margin: 8px auto 0;
    padding: 12px 0;
}
.products-item .btn-tab:hover,
.products-item .btn-tab:focus {
    border-color: #32425c;
}
.products-item .btn-tab:active {
    border-color: #c1c6ce;
    color: rgba(50, 66, 92, 0.3);
}
.products-item .title {
    font-size: 18px;
    line-height: 20px;
    padding: 0 20px;
    margin: 0;
}
.products-item .old-price {
    color: #a9a9a9;
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
    margin: 11px 0;
}
.products-item .price {
    display: block;
    color: #fff;
    font-size: 17px;
    line-height: 18px;
    background-color: #ee3643;
    width: 141px;
    text-align: left;
    padding: 10px 0 10px 35px;
    box-sizing: border-box;
    margin: 0;
    margin-left: 42px;
    margin-right: auto;
    border-radius: 3px;
    position: relative;
}
.title + .price { 
    margin-top: 40px;
} 
.products-item .price::before {
    content: "";
    width: 32px;
    height: 17px;
    top: -5px;
    left: 86%;
    background-color: white;
    position: absolute;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.products-item .price::after {
    content: "";
    width: 32px;
    height: 17px;
    bottom: -5px;
    left: 86%;
    background-color: white;
    position: absolute;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}




/*ПОПУЛЯРНЫЕ БРЕНДЫ*/

.brands {
    margin-bottom: 85px;
}
.brands-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.brands-item {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #eaeaea;
    margin-top: 20px;
}
.brands-item:hover,
.brands-item:focus {
    -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
            box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.brands-item:active {
    -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
            box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}
.brands-item:active img {
    opacity: 0.3;
}
.brands-content a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 218px;
    height: 143px;
}
.brands-content img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}




/*СЕРВИСЫ*/

.service {
    background-color: #f4f8f9;
    padding-bottom: 20px; 
}
.service h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    padding-top: 66px;
    font-weight: 100;
}
.service p {
    font-family: "Ptsans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000;
    width: 400px;
    margin: 26px 0;
}
.service-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.slider-controls {
    list-style: none;
    padding: 0;
    padding-top: 42px;
    margin: 0;
    position: relative;
}
.slider-controls::after {
    background-image: url(../img/service-shadow.png);
    background-repeat: no-repeat;
    content: "";
    width: 10px;
    height: 279px;
    top: 0;
    right: 0;
    z-index: 1;
    position: absolute;
}
.slider-controls label {
    background-color: #32425c;
    border-left: none;
    border-right: none;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    font-size: 21px;
    line-height: 30px;
    color: #fff;
    width: 240px;
    padding: 13px 0 16px 22px;
    font-weight: bold;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.slider-controls label:not(.active):hover,
.slider-controls label:not(.active):focus {
    background-color: #293449;   
}
.slider-controls label:hover,
.slider-controls label:focus {
    cursor: pointer;
}
#service-1:checked ~ .service-slider-list .service-slide:nth-child(1) {
    display: block;
}
#service-1:checked ~ .slider-controls label:nth-child(1){
    background-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #32425c;
}

#service-2:checked ~ .service-slider-list .service-slide:nth-child(2) {
    display: block;
}
#service-2:checked ~ .slider-controls label:nth-child(2){
    background-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #32425c;
}

#service-3:checked ~ .service-slider-list .service-slide:nth-child(3) {
    display: block;
}
#service-3:checked ~ .slider-controls label:nth-child(3){
    background-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #32425c;
}

.service-slider-list {
    width: 620px;
    min-height: 275px;
}
.service-slide {
    width: 100%;
    height: 100%;
    display: none;
    background-repeat: no-repeat;
    background-position: 151px 26px;
}
.service-slide h3 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    margin: 24px 0 20px;
    font-weight: 100;
}
.service-slide p {
    width: 275px;
    margin-bottom: 0;
}
.service-slide.delivery {
    background-image: url(../img/service/service-delivery.png);
}
.service-slide.guarantee {
    background-image: url(../img/service/service-guarantee.png);
}
.service-slide.credit {
    background-image: url(../img/service/service-credit.png);
}

.service-slide .btn-style-red {
    width: 195px;
}


/*ИНФОРМАЦИЯ*/

.info .container {
    padding-top: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 86px;
}
.info h2 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: 100;
}
.info p {
    font-family: "Ptsans", "Arial", sans-serif;
    margin: 0;
    margin-top: 25px;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.12px;
}
.info .about-us {
    width: 540px;
}
.info .about-us ul { /*Три селектора*/
    list-style: none;
    padding: 0;
    padding-left: 37px;
    margin: 0;
    margin-bottom: 37px;
    margin-top: 20px;
}
.about-us li {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
}
.about-us li::after {
    content: "";
    left: -37px;
    top:50%;
    position: absolute;
    width: 25px;
    height: 2px;
    background-image: url(../img/companies-list.png);
}
.about-us .btn-style-red {
    width: 220px;
}
.info .contacts {
    width: 300px;
}
.contacts p { /*Три селектора*/
    width: 200px;
    margin-bottom: 31px;
}
.contacts .map {
    margin-bottom: 36px;
    display: block;
}
.contacts .btn-style-red {
    width: 300px;
}




/*ВНУТРЕННАЯ СТРАНИЦА*/

.breadcrumbs-list {
    padding: 0;
    margin: 0;
    margin: 21px 0 20px;
    font-size: 0;
}
.breadcrumbs-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 41px;
    position: relative;
}
.breadcrumbs-item a {
    text-transform: uppercase;
    font-family: "Ptsans", "Arial", sans-serif;
    color: #000;
    font-size: 13px;
    line-height: 18px;
}

.breadcrumbs-item:first-child a::after {
    content: "";
    display: inline-block;
    background: url(../img/svg/icon-home.svg) no-repeat;
    width: 15px;
    height: 12px;
    top: -7px;
    left: -17px;
}
.breadcrumbs-item:not(:last-child)::after {
    content: "";
    position: absolute;
    background: url(../img/svg/breadcrumbs-arrows.svg);
    width: 8px;
    height: 12px;
    right: -23px;
    top: 2px;
}
.inner-page h2 {
    text-transform: uppercase;
    color: #32425c;
    font-weight: 100;
    font-size: 30px;
    line-height: 30px;
    background-color: #f2f6f8;
    padding: 30px 28px 29px;
    margin: 20px 0;
}
.inner-page .global-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.filter-wrapper {
    width: 220px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "Ptsans", "Arial", sans-serif;
}
.filter-header {
    background-color: #f7f3ec;
    color: #000;
    padding: 11px 18px 8px;
    font-size: 13px;
    line-height: 18px;
    border-radius: 3px;
}
.filter fieldset{
    border: none;
    padding: 0;
    padding-bottom: 25px;
    margin: 0;
    margin-bottom: 4px;
    font-size: 17px;
    line-height: 18px;
    border-radius: 3px;
}
.filter fieldset:not(.filter-power) {
    border-bottom: 1px solid #e5e5e5;
}
.filter .filter-power {
    margin-bottom: 54px;
}

.filter ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filter-price {
    padding: 0;
    margin: 0;
}
.filter legend{
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    padding: 12px 0 14px;
}
.price-range {
    display: flex;
    align-items: center;
    justify-content: space-between
}
.price-range input{
    width: 95px;
    height: 36px;
    border: none;
    text-align: center;
    background-color: #f7f3ec;
}
/* .price-range input[name = "max-price"]{
    margin-left: 10px;
}
.price-range input[name = "min-price"]{
    margin-right: 10px;
} */
.price-bar {
    width: 220px;
    background-color: #f7f3ec;
    padding: 40px 0 38px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 9px;
}
.price-bar .bar-bg {
    margin: 0 auto;
    width: 170px;
    height: 2px;
    background-color: #d7dcde;
    position: relative;
}
.price-bar .bar-line {
    width: 89%;
    height: 100%;
    background-color: #00ca74;
}
.bar-line .min-button,
.bar-line .max-button {
    content: "";
    position: absolute;
    background-image: url(../img/price-button.png);
    background-repeat: no-repeat;
    background-position: 50%;
    top: 50%;
    margin-top: -11px;
    width: 20px;
    height: 22px;
    cursor: pointer;
}
.bar-line .min-button {
    left: 0px;
}
.bar-line .max-button {
    left: 100px;
}

.filter-brands li {
    position: relative;
    padding-left: 34px;
    padding-bottom: 22px;
}
.filter-brands li:last-child {
    padding-bottom: 0px;
}
.filter-brands input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.filter-brands label {
    letter-spacing: -1px;
    cursor: pointer;
}
.filter-brands label::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    left: 0;
    top: -2px;
    background:url(../img/svg/checkbox-off.svg) no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: 1;
}
.filter-brands input:checked + label::before {
    width: 27px;
    height: 23px;
    background:url(../img/svg/checkbox-on.svg) no-repeat;
    background-position: center;
    opacity: 0.8;
}
input:disabled ~ label{
    opacity: 0.3;
}
.filter-brands input:hover + label::before {
    opacity: 0.8;
}
.filter-brands input:checked:hover + label::before {
    opacity: 1;
}
.filter-power li {
    position: relative;
    padding-left: 34px;
    padding-bottom: 22px;
}
.filter-power li:last-child {
    padding-bottom: 0px;
}
.filter-power input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.filter-power label {
    letter-spacing: -1px
}
.filter-power label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: -2px;
    background:url(../img/svg/radio-off.svg) no-repeat;
    background-position: center;
    opacity: 0.8;
}
.filter-power label:hover::before {
    opacity: 1;
}
.filter-power input:checked + label::before {
    width: 25px;
    height: 25px;
    background:url(../img/svg/radio-on.svg) no-repeat;
    background-position: center;
}
.btn-filter {
    width: 140px;
    background: none;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 10px 0 8px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px; 
}

.inner-page .products {
    width: 700px;
}
.products-header {
    font-family: "Ptsans", "Arial", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f7f3ec;
    text-transform: uppercase;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 11px 17px 9px 18px;
    font-size: 13px;
    line-height: 18px;
    border-radius: 3px;
}
.products-header p {
    margin: 0;
}
.products-sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 0;
}
.products-sorting a {
    font-size: 13px;
    line-height: 18px;
    color: rgba(0,0,0,0.3);
    border-bottom: 1px dotted #ee3643;
    margin-left: 68px;
    display: block;
    height: 15px;
}
.products-sorting a:hover,
.products-sorting a:focus {
    color: #000;
    border-bottom: 1px solid #ee3643;
}
.products-sorting .sorting-active {
    color: #ee3643;
    border-bottom: none;
}
.by-type a{
    margin-left: 70px;
}
.by-function a{
    margin-left: 66px;
}
.by-increase a {
    border-bottom: none;
    margin-left: 46px;
}
.by-decrease a {
    border-bottom: none;
    margin-left: 21px;
}
.by-increase a:hover,
.by-decrease a:hover,
.by-increase a:focus,
.by-decrease a:focus {
    border-bottom: none;
}
.by-increase svg,
.by-decrease svg{
    fill: rgba(0,0,0,0.3);
}
.sorting-active svg{
    fill: #ee3643;
}
.by-increase a:hover polyline,
.by-decrease a:hover polyline,
.by-increase a:focus polyline,
.by-decrease a:focus polyline {
    fill: #000;
}


.paginator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 53px;
    margin-bottom: 60px;
}
.paginator li {
    text-align: center;
}
.paginator-item:last-child a {
    padding-left: 30px;
    padding-right: 29px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}
.paginator a {
    border-radius: 3px;
    font-family: "Ptsans", "Arial", sans-serif;
    margin-right: 9px;
    padding: 9px 15px;
    font-size: 13px;
    line-height: 18px;
    display: block;
    border: 1px solid #e5e5e5;
    color: #000;
    background-color: #fff;
}
.paginator a:not(.active):hover,
.paginator a:not(.active):focus {
    border-color: #bdc6ca;
}
.paginator a:not(.active):active {
    border-color: #ee3643;
}
.paginator .active {
    color: #fff;
    background-color: #ee3643;
    border: 1px solid #ee3643;
}
.about {
    background-color: #f2f6f8;
    min-height: 261px;
}
.about h2 {
    margin: 0;
    padding-left: 0;
    padding-top: 65px;
    padding-bottom: 26px;
    letter-spacing: 0.2px;
}
.about p {
    margin: 0;
    padding-bottom: 20px;
    font-size: 13px;
    line-height: 24px;
    font-family: "Ptsans", "Arial", sans-serif;
}


/*ПОДВАЛ*/

footer {
    background-color: #32425c;
    color: #fff;
}
.footer-top .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-top {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 19px;
}
.footer-logo {
    background-color: #ee3643;
    text-align: center;
    width: 220px;
    padding: 17px 0;
    -webkit-box-shadow: 0 5px 0 0 #b52933;
            box-shadow: 0 5px 0 0 #b52933;
    font-size: 30px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}
.footer-logo:hover,
.footer-logo:focus {
    background-color: #ca2c37;
    -webkit-box-shadow: 0 5px 0 0 #9a212a;
            box-shadow: 0 5px 0 0 #9a212a;
}
.footer-logo:active {
    background-color: #ba2732;
    -webkit-box-shadow: 0 5px 0 0 #8e1e26;
            box-shadow: 0 5px 0 0 #8e1e26;
}
.footer-top-left p {
    width: 330px;
    margin: 31px 3px;
}


.footer-top-right {
    margin-top: 38px;
    list-style: none;
    font-size: 0;
}
.footer-top-right li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    padding-right: 59px;
}
.footer-top-right li:last-child {
    padding: 0;
}
.footer-top-right a {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}
.footer-top-right a:hover,
.footer-top-right a:focus {
    text-decoration: underline;
}
.footer-top-right a:active {
    text-decoration: none;
    opacity: 0.5;
}
.footer-navigation {
    padding: 0;
    margin: 0;
    text-align: right;
}
.footer-navigation a {
    color: #fff;
}
.footer-categories {
    padding: 0;
    padding-top: 29px;
    margin: 0;
    text-align: right;
}
.footer-categories a {
    color: #ffd180;
}
.footer-bottom {
    background-color: #293449;
    font-size: 16px;
    line-height: 18px;
    padding: 35px 0 52px;
}
.footer-bottom .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer-bottom p {
    margin: 0;
}
.footer-bottom .copyright {
    width: 230px;
}
.footer-feedback {
    margin: 0px auto 0 162px;
    display: inherit;
}
.footer-bottom .social-btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 2px;
    background-color: #212a3a;
    background-position: 50%;
    background-repeat: no-repeat;
}
.footer-bottom .social-btn:hover,
.footer-bottom .social-btn:focus {
    background-color: #ee3643;
}
.footer-bottom .btn-vk {
    background-image: url(../img/svg/vk-icon.svg);
    background-size: 70%;
}
.footer-bottom .btn-fb {
    background-image: url(../img/svg/fb-icon.svg);
    background-size: 32%;
}
.footer-bottom .btn-inst {
    background-image: url(../img/svg/insta-icon.svg);
    background-size: 53%;
}
.footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 300px;
}
.footer-bottom .email {
    width: 140px;
}
.footer-bottom .site {
    width: 111px;
}
.footer-links a {
    color: #ffd180;
}
.footer-links a:hover,
.footer-links a:focus {
    text-decoration: underline;
}
.footer-links a:active {
    text-decoration: none;
    color: #ee3643;
}


/*МОДАЛЬНЫЕ ОКНА*/
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
    position: fixed;
    background-color: #fff;
    z-index: 20;
}

.btn-modal-close {
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url(../img/svg/modal-close.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    top: 9px;
    right: 9px;
    border:none;
    background-color: transparent;
    cursor: pointer;
}
    
    /* корзина */
.modal-cart {
    display: none;
    top: 150px;
    left: 50%;
    margin-left: -310px;
    width: 620px;
    background-color: #fff;
    border-top: 7px solid #ee3643;
    -webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,0.5);
            box-shadow: 0 20px 40px 0 rgba(0,0,0,0.5);
}
.modal-cart h2 {
    font-size: 30px;
    line-height: 30px;
    padding: 20px 0;
    padding-left: 99px;
    background-image: url(../img/svg/cart-checkmark.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.modal-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.modal-btns .checkout,
.modal-btns .continue {
    width: 220px;
}
    
    /* карта */
.modal-map {
    display: none;
    top: 50%;
    left: 50%;
    margin-top: -223px;
    margin-left: -470px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 16px 0 rgba(0,0,0,0.5);
            box-shadow: 0 0 16px 0 rgba(0,0,0,0.5);
    background: url(../img/map-bg.png) no-repeat;
    background-size: 100%;
}
.modal-map iframe {
    border: none;
    padding: 0;
    margin: 0;
}
    
    /* обратная связь */
.modal-write-us {
    display: none;
    top: 20%;
    left: 50%;
    width: 620px;
    margin-left: -310px;
    border-top: 7px solid #ee3643;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 46px;
    -webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.75);
            box-shadow: 0 20px 40px rgba(0,0,0,0.75);
}
.modal-write-us label {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.modal-container {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 460px;
    margin: 0 auto;
}
.form-write-us .modal-container {
    margin-bottom: 37px;
}
.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}
.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}
.form-write-us p {
    margin: 0;
    margin-bottom: 20px;
}
.form-write-us p:last-child {
    margin-bottom: 0;
}
.form-write-us input,
.form-write-us textarea{
    border: 2px solid #ddd;
    border-radius: 3px;
    padding: 10px 15px;
    resize: none;
}
.form-write-us b {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px; 
}
.write-us-name,
.write-us-email {
    width: 220px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.write-us-text {
    width: 460px;
    height: 114px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.modal-btns {
    background-color: #eee;
    padding: 37px 0;
    text-align: center;
}
.modal-btns .btn-send-message {
    width: 460px;
    margin: 0 auto;
}

/*КНОПКИ*/
.btn-style-white {
    color: #000;
    text-align: center;
    background-color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 3px;
    border:none;
    padding: 10px 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.btn-style-opacity {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: rgba(0,0,0, 0.1);
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
    width: 135px;
    text-align: center;
}
.btn-style-opacity:hover,
.btn-style-opacity:focus {
    background-color: rgba(0,0,0, 0.2);
}
.btn-style-opacity:active {
    background-color: rgba(0,0,0, 0.3);
}

.btn-style-red {
    color: #fff;
    text-align: center;
    background-color: #ee3643;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    border:none;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}
.btn-style-red:hover,
.btn-style-red:focus {
    background-color: #ca2c37;
}
.btn-style-red:active {
    background-color: #ba2732;
}


/*ШРИФТЫ*/

@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/cuprum.woff') format('woff'),
         url('../fonts/cuprum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/cuprumbold.woff') format('woff'),
         url('../fonts/cuprumbold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/cuprumbolditalic.woff') format('woff'),
         url('../fonts/cuprumbolditalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/cuprumitalic.woff') format('woff'),
         url('../fonts/cuprumitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Ptsans';
    src: url('../fonts/ptsans.woff') format('woff'),
         url('../fonts/ptsans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ptsans';
    src: url('../fonts/ptsansbold.woff') format('woff'),
         url('../fonts/ptsansbold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}